#Specific to this project
.html_cache/


##################
# Best Practices #
##################

# zip
*.zip

# Folder view configuration files
.DS_Store
Desktop.ini

# The actual venv folder
venv/
.venv/

# The environment variable file
.env

# Thumbnail cache files
._*
Thumbs.db

# My notes
notes.txt

# Files that might appear on external disks
.Spotlight-V100
.Trashes